:root {
    font-size: 16px;
    /* Define o tamanho base da fonte */
    --verde: #4CAF50;
    /* Cor verde */
    --bege: #F5F5DC;
    /* Cor bege */
    --branco: #FFFFFF;
    /* Cor branca */
    --fonte-principal: "Quattrocento Sans";
    /* Fonte principal */
}

* {
    margin: 0;
    /* Remove margens padrão */
    padding: 0;
    /* Remove preenchimento padrão */
    box-sizing: border-box;
    /* Inclui bordas e preenchimento no tamanho total */
}

body {
    font-family: var(--fonte-principal);
    /* Define a fonte principal */
    background-color: var(--bege);
    /* Define a cor de fundo */
}

a {
    color: var(--branco);
    /* Define a cor dos links */
    text-decoration: none;
    /* Remove sublinhado dos links */
}

.header {
    background-color: var(--verde);
    /* Define a cor de fundo do header */
    height: 4.6875rem;
    /* Define a altura do header */
    padding: 1rem 2rem;
    /* Define o padding do header */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Adiciona sombra ao header */
    display: flex;
    /* Usa flexbox para o layout */
    justify-content: center;
    /* Centraliza conteúdo horizontalmente */
    align-items: center;
    /* Centraliza conteúdo verticalmente */
    position: relative;
    /* Define o posicionamento relativo */
}

.nav {
    display: flex;
    /* Usa flexbox para o layout */
    align-items: center;
    /* Centraliza conteúdo verticalmente */
    justify-content: center;
    /* Centraliza conteúdo horizontalmente */
    width: 100%;
    /* Define a largura completa */
}

.menu {
    list-style: none;
    /* Remove os marcadores da lista */
    display: flex;
    /* Usa flexbox para o layout */
    gap: 1rem;
    /* Define o espaçamento entre os itens */
    justify-content: center;
    /* Centraliza itens horizontalmente */
    align-items: center;
    /* Centraliza itens verticalmente */
}

.menu a {
    display: block;
    /* Define como bloco */
    padding: 0.75rem 1rem;
    /* Define o padding dos links */
    border-radius: 0.5rem;
    /* Define bordas arredondadas */
    transition: transform 0.3s, font-size 0.3s;
    /* Adiciona transições */
}

.menu a:hover {
    font-size: 1.1rem;
    /* Aumenta o tamanho da fonte ao passar o mouse */
    transform: scale(1.05);
    /* Aumenta o tamanho do link ao passar o mouse */
}

.label-menu,
.checkbox {
    display: none;
    /* Esconde o menu e checkbox */
}

.container-banner {
    height: 80vh;
    /* Define a altura do banner */
    background: url(./img/banner.png) no-repeat center center;
    /* Define a imagem de fundo */
    background-size: cover;
    /* Cobre todo o banner mantendo a proporção */
    display: flex;
    /* Usa flexbox para o layout */
    flex-direction: column;
    /* Direção dos itens */
    justify-content: center;
    /* Centraliza conteúdo verticalmente */
    align-items: center;
    /* Centraliza itens horizontalmente */
    text-align: center;
    /* Centraliza o texto */
    padding: 2rem;
    /* Define o padding do banner */
    box-sizing: border-box;
    /* Inclui o padding no cálculo do tamanho */
    font-size: 1.5rem;
    /* Define o tamanho da fonte */
    color: var(--branco);
    /* Define a cor do texto */
}

.container-banner h1 {
    background-color: rgba(68, 246, 109, 0.6);
    /* Define o fundo semitransparente */
    padding: 0.1rem;
    /* Define o padding do texto */
    border-radius: 1rem;
    /* Define bordas arredondadas */
    color: var(--branco);
    /* Define a cor do texto */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    /* Adiciona sombra ao texto */
    margin-top: 2rem;
    /* Adiciona margem superior */
}

.container-principal {
    margin: 0 auto;
    /* Centraliza o conteúdo horizontalmente */
    max-width: 800px;
    /* Define a largura máxima do conteúdo */
    padding: 0 20px;
    /* Adiciona espaçamento interno nas laterais */
    text-align: center;
    /* Alinha o texto ao centro */
}

.container-principal h1 {
    color: #4CAF50;
    /* Cor do título */
    margin-top: 20px;
    /* Adiciona uma margem superior de 20px ao título */
}

.container-principal p {
    font-size: 1.1rem;
    /* Tamanho da fonte do parágrafo */
    line-height: 1.6;
    /* Altura da linha para melhor legibilidade */
    margin-top: 20px;
    /* Espaçamento superior do parágrafo */
}

.container-parana {
    margin: 0 auto;
    /* Centraliza o conteúdo horizontalmente */
    max-width: 800px;
    /* Define a largura máxima do conteúdo */
    padding: 0 20px;
    /* Adiciona espaçamento interno nas laterais */
    text-align: center;
    /* Alinha o texto ao centro */
}

.container-parana h1 {
    color: #4CAF50;
    /* Cor do título */
    margin-top: 50px;
    
}

.container-parana p {
    font-size: 1.1rem;
    /* Tamanho da fonte do parágrafo */
    line-height: 1.6;
    /* Altura da linha para melhor legibilidade */
    margin-top: 20px;
    /* Espaçamento superior do parágrafo */
}


/* Estilo para o container dos cards */
.container {
    display: flex;
    justify-content: center;
    /* Centraliza os cards na tela */
    flex-wrap: wrap;
    /* Permite que os cards quebrem para a próxima linha */
    margin-top: 20px;
    /* Margem superior para separar os cards do conteúdo acima */
}

/* Estilo para o card */
.new-card {
    width: calc(23.33% - 20px);
    margin: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px #57A663;
    overflow: hidden;
    display: inline-block;
}

/* Estilo para a imagem dentro do card */
.new-card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Estilo para o texto dentro do card */
.new-card-text {
    padding: 10px;
    text-align: center;
}

.new-card-text h2 {
    margin-bottom: 1.5rem;
}

.new-card-text p {
    margin-bottom: 0;
    text-align: center;
}

/* Estilo para o botão "Saiba Mais" */
.btn-saiba-mais {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    /* Margem superior para separar o botão do texto */
}

.btn-saiba-mais:hover {
    background-color: #0056b3;
}

.footer {
    position: relative;
    /* Certifique-se de que o footer tem posição relativa */
    background-color: var(--bege);
    /* Cor de fundo do footer */
    padding: 20px;
    /* Espaçamento interno do footer */
    margin-top: 30px;
}

.icone-casa img,
.icone-seta img {
    width: 100%;
    /* Ajuste para ocupar todo o espaço dentro do ícone */
    height: auto;
}

.icone-casa {
    position: absolute;
    /* Posição absoluta dentro do footer */
    bottom: 20px;
    /* Distância do ícone ao fundo do footer */
    width: 60px;
    /* Largura do ícone */
    height: 60px;
    /* Altura do ícone */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* Z-index para garantir que os ícones estejam acima do conteúdo do footer */
    left: 20px;
    /* Posiciona o ícone da casa à esquerda do footer */
}

.icone-seta {
    position: absolute;
    /* Posição absoluta */
    bottom: 20px;
    /* Distância do ícone ao fundo */
    width: 60px;
    /* Largura do ícone */
    height: 60px;
    /* Altura do ícone */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* Z-index para garantir que os ícones estejam acima do conteúdo */
    right: 20px;
    /* Posiciona o ícone à direita */
}


.video-container {
    position: relative;
    width: 50%;
    /* Ajusta para 50% da largura da tela */
    padding-top: calc(50% * 9 / 16);
    /* Calcula a proporção de aspecto do vídeo (16:9) */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--verde);
    margin-top: 1rem;
    /* Adiciona uma margem superior de 1 rem */
    margin-left: auto;
    /* Centraliza horizontalmente */
    margin-right: auto;
    /* Centraliza horizontalmente */
    margin-bottom: 1rem;
    /* Adiciona uma margem inferior de 1 rem */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.titulo-secundario {
    text-align: center;
    margin-top: 20px;
    /* Adiciona uma margem superior de 20px */
    margin-bottom: 20px;
    color:var(--verde)
}

.galeria {
    display: flex;
    /* Cria um layout flexível */
    flex-wrap: wrap;
    /* Permite que os itens quebrem para a próxima linha */
    justify-content: center;
    /* Alinha os itens ao centro */
}

.galeria .card {
    width: 200px !important;
    /* Largura fixa dos cartões */
    margin: 10px;
    /* Margem ao redor dos cartões */
    text-align: center;
    /* Alinhamento de texto ao centro */
}

.galeria .card img {
    width: 100%;
    /* Largura da imagem */
    height: auto;
    /* Altura automática */
    border-radius: 10px;
    /* Borda arredondada */
    cursor: pointer;
    /* Altera o cursor para indicar que a imagem é clicável */
}

.galeria .card h3 {
    margin-top: 10px;
    /* Margem superior */
    text-align: center;
    /* Alinhamento de texto ao centro */
    font-size: 16px;
    /* Tamanho da fonte */
}

/* Estilo padrão para links */
.galeria .card a {
    color: #007bff; /* Cor do texto do link */
    text-decoration: none; /* Remove o sublinhado padrão */
    transition: color 0.3s; /* Suaviza a transição da cor ao passar o mouse */
}

/* Estilo quando o mouse passa por cima do link */
.galeria .card a:hover {
    color: #0056b3; /* Altera a cor do texto ao passar o mouse */
}

/* Estilo para links quando clicados */
.galeria .card a:active {
    color: #ff0000; /* Cor do texto quando o link é clicado */
}


/* Estilo para a página de detalhes da planta */
.container-detalhe {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: var(--branco);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem-detalhe {
    width: 100%;
    /* Ajusta a largura para 100% do container */
    max-height: 300px;
    /* Define uma altura máxima */
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: cover;
    /* Ajusta a imagem para cobrir o espaço definido */
}

.texto-detalhe p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--verde);
    text-align: justify;
}

.texto-detalhe h2 {
    margin-top: 20px;
    color: var(--verde);
    text-align: center;
}

.texto-detalhe ul {
    list-style: disc inside;
    margin-left: 20px;
    text-align: left;
    /* Alinha o texto à esquerda */
}

.texto-detalhe ul li {
    margin-bottom: 10px;
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--verde);
}

/* Novo estilo para o título h1 dentro do container-detalhe */
.container-detalhe h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #388e3c; /* Tom de verde mais escuro */
    font-size: 2.5rem; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Define a fonte como negrito */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao texto */
    border-bottom: 3px solid #388e3c; /* Adiciona uma borda inferior */
    padding-bottom: 15px; /* Espaçamento inferior */
}

.botoes-container {
  text-align: center;
}

.botao {
  background-color: #56b0e4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
}

.botao:hover {
  background-color: #2b96d4;
}















/* Responsividade */

/* Media query para ajustar o banner em telas menores */
@media (max-width: 600px) {
    .container-banner {
        padding: 1rem;
        /* Reduz o padding interno */
        font-size: 1.5rem;
        /* Reduz o tamanho da fonte */
    }

    .container-banner h1 {
        padding: 0.5rem;
        /* Reduz o padding interno */
        margin-top: 1rem;
        /* Ajusta a margem superior */
    }

    .video-container {
        width: 85%;
        /* Ajusta para ocupar toda a largura da tela em telas menores */
        padding-top: calc(100% * 9 / 16);
        /* Calcula a proporção de aspecto do vídeo para telas menores */
    }
    .container-detalhe {
        padding: 10px;
    }

    .texto-detalhe {
        font-size: 1rem;
    }
}

/* Versão Mobile */
@media (max-width: 767px) {
    .header {
        justify-content: flex-end;
        /* Move o ícone do menu para a direita */
        padding-right: 1rem;
        /* Adiciona padding à direita */
    }

    .nav {
        justify-content: flex-end;
        /* Move o ícone do menu para a direita */
    }

    .menu {
        display: block;
        /* Altera a exibição para bloco */
        position: absolute;
        /* Posiciona o menu de forma absoluta */
        top: 4.6875rem;
        /* Define a posição superior */
        right: 0;
        /* Alinha o menu à direita */
        background-color: var(--verde);
        /* Define a cor de fundo */
        width: 100%;
        /* Define a largura total */
        height: calc(100vh - 4.6875rem);
        /* Ajusta a altura do menu */
        z-index: 1;
        /* Define o índice de empilhamento */
        visibility: hidden;
        /* Inicialmente invisível */
        overflow-y: auto;
        /* Permite rolagem vertical */
        transition: height 0.5s, visibility 0.5s;
        /* Adiciona transições */
        text-align: right;
        /* Alinha o texto à direita */
        padding-right: 1rem;
        /* Adiciona padding à direita */
    }

    .menu a {
        padding: 1rem 0;
        /* Define o padding dos links */
        margin-inline: 1rem;
        /* Define a margem lateral */
        border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.1);
        /* Define a borda inferior */
        border-radius: 0;
        /* Remove bordas arredondadas */
    }

    .label-menu {
        display: flex;
        /* Usa flexbox para o layout */
        align-items: center;
        /* Centraliza itens verticalmente */
        gap: 0.5rem;
        /* Define o espaçamento entre itens */
        color: var(--branco);
        /* Define a cor do texto */
        padding-block: 1rem;
        /* Define o padding vertical */
        cursor: pointer;
        /* Adiciona cursor de ponteiro */
    }

    .hamburger {
        border-top: 0.125rem solid var(--branco);
        /* Define a borda superior */
        width: 1.5rem;
        /* Define a largura */
    }

    .hamburger::before,
    .hamburger::after {
        content: " ";
        /* Define conteúdo vazio */
        display: block;
        /* Define como bloco */
        width: 1.5rem;
        /* Define a largura */
        height: 0.125rem;
        /* Define a altura */
        background: var(--branco);
        /* Define a cor de fundo */
        margin-top: 0.3125rem;
        /* Define a margem superior */
    }

    .checkbox:checked~.menu {
        height: calc(100vh - 4.6875rem);
        /* Ajusta a altura do menu */
        visibility: visible;
        /* Torna o menu visível */
        overflow-y: auto;
        /* Permite rolagem vertical */
    }

    .checkbox {
        display: none;
        /* Esconde o checkbox */
    }

    .label-menu {
        display: flex;
        /* Usa flexbox para o layout */
        align-items: center;
        /* Centraliza itens verticalmente */
        justify-content: flex-end;
        /* Alinha itens à direita */
        width: 100%;
        /* Define a largura total */
    }

    .new-card {
        width: calc(50% - 20px);
        /* Altera a largura para ocupar metade da largura do container */
    }

    .video-container {
        width: 85%;
        /* Ajusta para ocupar toda a largura da tela em telas menores */
        padding-top: calc(100% * 9 / 16);
        /* Calcula a proporção de aspecto do vídeo para telas menores */
    }
}