:root {
    font-size: 16px;
    --verde: #4CAF50;
    --bege: #F5F5DC;
    --branco: #FFFFFF;
    --fonte-principal: "Quattrocento Sans";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--bege);
}

a {
    color: var(--branco);
    text-decoration: none;
}

.header {
    background-color: var(--verde);
    height: 4.6875rem;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.menu a {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: transform 0.3s, font-size 0.3s;
}

.menu a:hover {
    font-size: 1.1rem;
    transform: scale(1.05);
}

.label-menu,
.checkbox {
    display: none;
}

.container-banner {
    height: 80vh;
    background: url(./img/banner.png) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    box-sizing: border-box;
    font-size: 1.5rem;
    color: var(--branco);
}

.container-banner h1 {
    background-color: rgba(68, 246, 109, 0.6);
    padding: 0.1rem;
    border-radius: 1rem;
    color: var(--branco);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    margin-top: 2rem;
}

.container-principal {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
    text-align: center;
}

.container-principal h1 {
    color: #4CAF50;
    margin-top: 20px;
}

.container-principal p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-top: 20px;
}

.container-parana {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
    text-align: center;
}

.container-parana h1 {
    color: #4CAF50;
    margin-top: 50px;
    
}

.container-parana p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-top: 20px;
}


.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.container h2 {
    color: #1254e4d6;
}


.new-card {
    width: calc(23.33% - 20px);
    margin: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px #57A663;
    overflow: hidden;
    display: inline-block;
}

.new-card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.new-card-text {
    padding: 10px;
    text-align: center;
}

.new-card-text h2 {
    margin-bottom: 1.5rem;
}

.new-card-text p {
    margin-bottom: 0;
    text-align: center;
}

.btn-saiba-mais {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-saiba-mais:hover {
    background-color: #0056b3;
}

.footer {
    position: relative;
    background-color: var(--bege);
    padding: 20px;
    margin-top: 30px;
}

.icone-casa img,
.icone-seta img {
    width: 100%;
    height: auto;
}

.icone-casa {
    position: absolute;
    bottom: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    left: 20px;
}

.icone-seta {
    position: absolute;
    bottom: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    right: 20px;
}


.video-container {
    position: relative;
    width: 50%;
    padding-top: calc(50% * 9 / 16);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--verde);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.titulo-secundario {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color:var(--verde)
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria .card {
    width: 200px !important;
    margin: 10px;
    text-align: center;
}

.galeria .card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

.galeria .card h3 {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}

.galeria .card a {
    color: #007bff; 
    text-decoration: none; 
    transition: color 0.3s; 
}

/* Estilo quando o mouse passa por cima do link */
.galeria .card a:hover {
    color: #0056b3; /* Altera a cor do texto ao passar o mouse */
}

/* Estilo para links quando clicados */
.galeria .card a:active {
    color: #ff0000; /* Cor do texto quando o link é clicado */
}


/* Estilo para a página de detalhes da planta */
.container-detalhe {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: var(--branco);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem-detalhe {
    width: 100%;
    /* Ajusta a largura para 100% do container */
    max-height: 300px;
    /* Define uma altura máxima */
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: cover;
    /* Ajusta a imagem para cobrir o espaço definido */
}

.texto-detalhe p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--verde);
    text-align: justify;
}

.texto-detalhe h2 {
    margin-top: 20px;
    color: var(--verde);
    text-align: center;
}

.texto-detalhe ul {
    list-style: disc inside;
    margin-left: 20px;
    text-align: left;
    /* Alinha o texto à esquerda */
}

.texto-detalhe ul li {
    margin-bottom: 10px;
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--verde);
}

/* Novo estilo para o título h1 dentro do container-detalhe */
.container-detalhe h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #388e3c; /* Tom de verde mais escuro */
    font-size: 2.5rem; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Define a fonte como negrito */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao texto */
    border-bottom: 3px solid #388e3c; /* Adiciona uma borda inferior */
    padding-bottom: 15px; /* Espaçamento inferior */
}

.botoes-container {
  text-align: center;
  margin-top: 60px;
}

.botao {
  background-color: #56b0e4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
}

.botao:hover {
  background-color: #2b96d4;
}















/* Responsividade */

/* Media query para ajustar o banner em telas menores */
@media (max-width: 600px) {
    .container-banner {
        padding: 1rem;
        /* Reduz o padding interno */
        font-size: 1.5rem;
        /* Reduz o tamanho da fonte */
    }

    .container-banner h1 {
        padding: 0.5rem;
        /* Reduz o padding interno */
        margin-top: 1rem;
        /* Ajusta a margem superior */
    }

    .video-container {
        width: 85%;
        /* Ajusta para ocupar toda a largura da tela em telas menores */
        padding-top: calc(100% * 9 / 16);
        /* Calcula a proporção de aspecto do vídeo para telas menores */
    }
    .container-detalhe {
        padding: 10px;
    }

    .texto-detalhe {
        font-size: 1rem;
    }
}

/* Versão Mobile */
@media (max-width: 767px) {
    .header {
        justify-content: flex-end;
        /* Move o ícone do menu para a direita */
        padding-right: 1rem;
        /* Adiciona padding à direita */
    }

    .nav {
        justify-content: flex-end;
        /* Move o ícone do menu para a direita */
    }

    .menu {
        display: block;
        /* Altera a exibição para bloco */
        position: absolute;
        /* Posiciona o menu de forma absoluta */
        top: 4.6875rem;
        /* Define a posição superior */
        right: 0;
        /* Alinha o menu à direita */
        background-color: var(--verde);
        /* Define a cor de fundo */
        width: 100%;
        /* Define a largura total */
        height: calc(100vh - 4.6875rem);
        /* Ajusta a altura do menu */
        z-index: 1;
        /* Define o índice de empilhamento */
        visibility: hidden;
        /* Inicialmente invisível */
        overflow-y: auto;
        /* Permite rolagem vertical */
        transition: height 0.5s, visibility 0.5s;
        /* Adiciona transições */
        text-align: right;
        /* Alinha o texto à direita */
        padding-right: 1rem;
        /* Adiciona padding à direita */
    }

    .menu a {
        padding: 1rem 0;
        /* Define o padding dos links */
        margin-inline: 1rem;
        /* Define a margem lateral */
        border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.1);
        /* Define a borda inferior */
        border-radius: 0;
        /* Remove bordas arredondadas */
    }

    .label-menu {
        display: flex;
        /* Usa flexbox para o layout */
        align-items: center;
        /* Centraliza itens verticalmente */
        gap: 0.5rem;
        /* Define o espaçamento entre itens */
        color: var(--branco);
        /* Define a cor do texto */
        padding-block: 1rem;
        /* Define o padding vertical */
        cursor: pointer;
        /* Adiciona cursor de ponteiro */
    }

    .hamburger {
        border-top: 0.125rem solid var(--branco);
        /* Define a borda superior */
        width: 1.5rem;
        /* Define a largura */
    }

    .hamburger::before,
    .hamburger::after {
        content: " ";
        /* Define conteúdo vazio */
        display: block;
        /* Define como bloco */
        width: 1.5rem;
        /* Define a largura */
        height: 0.125rem;
        /* Define a altura */
        background: var(--branco);
        /* Define a cor de fundo */
        margin-top: 0.3125rem;
        /* Define a margem superior */
    }

    .checkbox:checked~.menu {
        height: calc(100vh - 4.6875rem);
        /* Ajusta a altura do menu */
        visibility: visible;
        /* Torna o menu visível */
        overflow-y: auto;
        /* Permite rolagem vertical */
    }

    .checkbox {
        display: none;
        /* Esconde o checkbox */
    }

    .label-menu {
        display: flex;
        /* Usa flexbox para o layout */
        align-items: center;
        /* Centraliza itens verticalmente */
        justify-content: flex-end;
        /* Alinha itens à direita */
        width: 100%;
        /* Define a largura total */
    }

    .new-card {
        width: calc(50% - 20px);
        /* Altera a largura para ocupar metade da largura do container */
    }

    .video-container {
        width: 85%;
        /* Ajusta para ocupar toda a largura da tela em telas menores */
        padding-top: calc(100% * 9 / 16);
        /* Calcula a proporção de aspecto do vídeo para telas menores */
    }
}